body {
  background-color: #141516;
  font-size: 16px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-width: 1440px;
  margin: 0 auto;
}

p {
  margin: 0;
}

h1 {
  font-weight: bold;
  font-size: 3.5rem;
  margin: 0;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 0;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

a {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

a:hover {
  opacity: 0.9;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5rem 9.5rem;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
}

.nav-links-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.primary-btn {
  padding: 0.75rem 1rem;
  background-color: #006aff;
  border-radius: 37px;
  color: #fff;
  line-height: 150%;
  text-align: center;
  min-width: 165px;
  text-align: center;
}

.primary-btn-white {
  padding: 0.75rem 1rem;
  background-color: #fff;
  border-radius: 37px;
  color: #141516;
  line-height: 150%;
  text-align: center;
  min-width: 165px;
  text-align: center;
}

.tertiary-btn {
  padding: 0.75rem 1rem;
  color: #fff;
  line-height: 150%;
  text-align: center;
}

.tertiary-btn-with-icon {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  color: #fff;
  width: fit-content;
}

.secondary-btn {
  padding: 0.75rem 1rem;
  color: #fff;
  line-height: 150%;
  border-radius: 37px;
  border: 1px solid #fff;
  min-width: 165px;
  text-align: center;
}

.secondary-btn-black {
  padding: 0.75rem 1rem;
  color: #141516;
  line-height: 150%;
  border-radius: 37px;
  border: 1px solid #141516;
  min-width: 165px;
  text-align: center;
}

.hero-top {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 6.5rem 9.5rem;
  color: #fff;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 50%;
  justify-content: center;
}

.hero-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-cta {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.hero-visuals {
  position: relative;
  display: flex;
  justify-content: end;
}

#hero-main-image {
  max-width: 95%;
  border-radius: 11px;
  object-fit: cover;
}

#hero-mobile-image {
  max-width: 153px;
  border-radius: 20px;
  border: 3.5px solid #fff;
  position: absolute;
  left: 0;
  top: 30%;
}

.tag {
  padding: 0.25rem 1rem;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  gap: 0.5rem;
  color: #141516;
  position: absolute;
  top: -16.5px;
  right: 10px;
  justify-content: center;
  align-items: center;
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.red-dot {
  width: 6px;
  height: 6px;
  background-color: #ff0000;
  border-radius: 50%;
}

.hero-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 9.5rem;
}

.key-benefits {
  padding: 6.5rem 9.5rem;
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
  background-color: #fff;
}

.benefits-header {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.benefits-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}

.benefits-cta {
  display: flex;
  gap: 1.75rem;
  margin: 0 auto;
}

.benefits-points {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7rem;
}

.point-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 228px;
}

.point-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mulish-font {
  font-family: "Mulish", sans-serif;
}

.usp {
  padding: 6.5rem 9.5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  color: #fff;
}

.usp-header {
  text-align: center;
}

.usp-item {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
}

.usp-item-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.usp-item-media {
  position: relative;
}

.usp-main-img {
  border-radius: 32px;
  max-width: 555px;
}

.usp-second-img {
  border-radius: 27px;
  max-width: 262px;
  position: absolute;
  top: -30px;
  left: -49px;
}

.usp-second-img-icon {
  border-radius: 12px;
  max-width: 64px;
  position: absolute;
  top: -20px;
  right: -15px;
}

.usp-item-content a {
  width: fit-content;
}

#right-column {
  order: 2;
}

#left-column {
  order: 1;
}

.cta {
  padding: 6.5rem 9.5rem;
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
  color: #fff;
}

.cta-header {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
  text-align: center;
}

.cta-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cta-buttons {
  display: flex;
  flex-direction: row;
  gap: 1.75rem;
}

.cta-media {
  position: relative;
  margin: 0 auto;
}

.cta-main-img {
  max-width: 790px;
}

.cta-second-img {
  border-radius: 31px;
  border: 3.5px solid #fff;
  max-width: 222px;
  position: absolute;
  left: -18px;
  top: 151px;
}

.gallery {
  padding: 6.5rem 9.5rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  background-color: #fff;
  max-width: 100%;
  overflow: hidden;
}

.gallery-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 0 -14rem;
}

.gallery-wrapper-2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  margin: 0 -28rem;
}

.gallery-item {
  width: 360px;
  height: 201px;
  border-radius: 27px;
  margin: 0 auto;
  object-fit: cover;
}

.gallery-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-top {
  padding: 5rem 9.5rem;
  background-color: #f7f9fa;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  font-family: "Mulish", sans-serif;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-socials-links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-info-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.footer-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 516px;
}

input,
textarea {
  border-radius: 13px;
  padding: 0.75rem 1rem;
  border: 1px solid #efefef;
  color: #7c7c7c;
  width: 100%;
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  resize: none;
}

input:focus {
  border: 1px solid #141516;
}

input[type="submit"] {
  border-radius: 37px;
  background-color: #006aff;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  width: fit-content;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  opacity: 0.9;
}

.footer-copyright {
  padding: 1.25rem;
  text-align: center;
  font-size: 14px;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  background-color: #f7f9fa;
  border-top: 1px solid #c9c9c9;
}

@media only screen and (max-width: 768px) {
  nav {
    padding: 1.5rem 5rem;
  }
  .hero-top {
    padding: 4rem 5rem;
    flex-wrap: wrap;
  }

  .hero-logos {
    padding: 4rem 5rem;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  .hero-logos svg {
    max-height: 24px;
  }

  .hero-content {
    max-width: 100%;
  }

  .benefits-title {
    max-width: 100%;
  }

  .key-benefits {
    padding: 4rem 5rem;
  }

  .benefits-points {
    grid-template-columns: repeat(2, 1fr);
  }

  .usp {
    padding: 4rem 5rem;
  }

  .usp-item {
    flex-wrap: wrap;
  }

  .usp-item-media {
    margin: 0 auto;
  }

  #right-column {
    order: 1;
  }

  #left-column {
    order: 2;
  }

  .cta {
    padding: 4rem 5rem;
  }

  .cta-main-img {
    max-width: 100%;
  }

  .cta-second-img {
    max-width: 150px;
  }

  .gallery {
    padding: 4rem 5rem;
  }

  .gallery-item {
    width: 270px;
    height: 150.75px;
  }

  .footer-top {
    padding: 4rem 5rem;
    flex-wrap: wrap;
  }

  .footer-contact {
    width: 50%;
  }
}

@media only screen and (max-width: 425px) {
  nav {
    padding: 2rem 2rem;
    gap: 1rem;
  }

  .nav-links-wrapper {
    display: none;
  }

  .hero-top {
    padding: 2rem 2rem;
  }

  .hero-logos {
    padding: 2rem 2rem;
    margin-top: 8rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .hero-cta {
    flex-wrap: wrap;
  }

  .key-benefits {
    padding: 2rem 2rem;
    gap: 4rem;
  }

  .benefits-cta {
    flex-wrap: wrap;
    justify-content: center;
  }

  .benefits-points {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .point-wrapper {
    width: 100%;
  }

  .usp {
    padding: 2rem 2rem;
  }

  .usp-main-img {
    max-width: 100%;
  }

  .usp-second-img {
    max-width: 50%;
    left: -10px;
  }

  .cta {
    padding: 2rem;
  }

  .cta-buttons {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .cta-second-img {
    max-width: 30%;
    top: 60px;
    border-radius: 21px;
    top: 50px;
  }

  .footer-top {
    padding: 2rem 2rem;
  }

  form {
    max-width: 100%;
    min-width: 100%;
  }

  .footer-socials {
    width: 100%;
  }

  .footer-contact {
    width: 100%;
  }

  .gallery {
    padding: 2rem;
    gap: 2rem;
  }

  .footer-form-wrapper {
    width: 100%;
  }

  input,
  textarea {
    width: auto;
  }
}
