body {
  background-color: #141516;
  font-size: 16px;
  margin: 0;
}

a {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

a:hover {
  opacity: 0.9;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5rem 9.375rem;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links-wrapper {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.primary-btn {
  padding: 0.75rem 0.875rem;
  background-color: #006aff;
  border-radius: 37px;
  color: #fff;
  line-height: 150%;
  text-align: center;
}

.tertiary-btn {
  padding: 0.75rem 0.875rem;
  color: #fff;
  line-height: 150%;
}

@media only screen and (max-width: 768px) {
  nav {
    padding: 1.5rem 5rem;
  }
}

@media only screen and (max-width: 425px) {
  nav {
    padding: 1rem 2rem;
    justify-content: center;
    gap: 1rem;
  }

  .nav-links-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
